html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-size: 20px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    margin-left: 4em;
    display: inline-block;
}

/*
 * Styles for the modal
 */

 .hide {
     display: none;
 }

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.438);
}

.modal-background .modal-body {
    position: relative;
    width: 40%;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -70%);
}

.modal-background .modal-body .modal-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0 1.5rem;
}

.modal-background .modal-body .modal-heading .modal-close {
    font-size: 2rem;
    font-weight: bold;
}

.modal-background .modal-body .modal-stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 1rem;
}

.modal-background .modal-body .modal-buttons {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.modal-background .modal-body .modal-buttons .modal-button {
    width: 60px;
    height: 30px;
}

/*
* Responsive design with media queries
*/

@media only screen and (max-width: 680px) {
    .deck {
        width: 90%;
        padding: 10px;
        min-height: 100vw;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 400px) {
    .score-panel {
        width: 80%;
        font-size: 15px;
    }
}


